.heroesGrid {
  @apply justify-center grid h-2/4 overflow-y-scroll z-10 w-full;
  @apply gap-4 md:gap-8 lg:gap-10;
  @apply pb-12 pt-1;
  grid-template-columns: repeat(auto-fit, 128px);
  grid-template-rows: repeat(auto-fit, 128px);
  height: 450px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.heroesGrid::-webkit-scrollbar {
  display: none;
}

.heroesGrid__wrapper:before {
  @apply absolute w-full z-20;
  content: '';
  height: 10%;
  bottom: calc(100% - 510px);
  background: linear-gradient(transparent 0px, black);
}

.heroesGrid__wrapper {
  @apply relative;
  background: url(/background.jpg);
  background-size: cover;
}

.heroesGrid__item {
  @apply bg-black overflow-hidden flex items-center justify-center text-center rounded-2xl w-32 cursor-pointer;
  @apply transition-transform;
  transform: scale(1);
  height: 128px;
}

.heroesGrid__item:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 640px) {
  .heroesGrid {
    @apply gap-4;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    height: 250px;
  }

  .heroesGrid__wrapper:before {
    bottom: calc(100% - 306px);
  }

  .heroesGrid__item {
    @apply w-24 h-24;
  }
}
