.button {
  @apply transition-transform inline-block rounded-lg py-2 px-4 text-2xl;
  background: #ff5722;
  display: inline-block;
  color: rgb(255, 255, 255);
  transform: scale(1);
  border: none;
}

.button:hover {
  transform: scale(1.05);
}

.button:disabled {
  background-color: lightgray;
}

.button:disabled:hover {
  transform: scale(1);
  cursor: not-allowed;
}
